.toolbar{
  position: relative;
  top: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
 
}
 

.example-sidenav-content {
  display: flex;
  height: 100vh;
  
}

.example-sidenav {
  padding: 20px;
  background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(27, 138, 228) 98.8%);
  
}

.web {
  font-size: 14px;
}

@media screen and (max-width:500px) {
  .admin {
    display: none ;
    
  }
}

 