.content-box{
  height: auto;
  background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
}
 .fb img{
    height: 40px;
    width: 40px;
 }
 .google img{
    height: 20px;
    width: 20px;
 }
 *{
    color: white;
 }
 .hr-lines{
    position: relative;
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
  }
  
  .hr-lines:before{
    content:" ";
    height: 2px;
    width: 130px;
    background: red;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }
  
  .hr-lines:after{
    content:" ";
    height: 2px;
    width: 130px;
    background: red;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }

  
  @media (max-width: 375px) {
    .hr-lines:before,
    .hr-lines:after {
      display: none;
    }
  }
  @media (max-width: 576px) {
    .hr-lines:before,
    .hr-lines:after {
       width: 60px;
    }
  }
  @media (min-width: 576px) {
    .hr-lines:before,
    .hr-lines:after {
       width: 70px;
    }
  }
  @media (min-width: 1400px) {
    .hr-lines:before,
    .hr-lines:after {
       width: 100px;
    }
  }
  