<div>
    <p>Dashboard</p>
    <p>
        <a routerLink="/portfolio">
            <button mat-button>
                <mat-icon [ngStyle]="{'color':'green'}">home</mat-icon>
                <span>Portfolio</span>
            </button>
        </a>
    </p>
    <p>
        <a routerLink="/exchange">
            <button mat-button>
                <mat-icon>adb</mat-icon>
                <span>Exchange</span>
            </button>
        </a>
    </p>
    <p>Ecommerce</p>
    <p>
        <a routerLink="/order">
            <button mat-button>
                <mat-icon>favorite</mat-icon>
                <span>Order</span>
            </button>
        </a>
    </p>
    <p>
        <a routerLink="/product">
            <button mat-button>
                <mat-icon>shopping_cart</mat-icon>
                <span>Products</span>
            </button>
        </a>
    </p>
    <p>
        <a routerLink="/product_details">
            <button mat-button>
                <mat-icon>pageview</mat-icon>
                <span>Product Details</span>
            </button>
        </a>
    </p>
    <p>Authentication</p>
    <p>
        <a routerLink="/signin">
            <button mat-button>
                <mat-icon>favorite</mat-icon>
                <span>Signin</span>
            </button>
        </a>
    </p>
    <p>
        <a routerLink="/signup">
            <button mat-button>
                <mat-icon>shopping_cart</mat-icon>
                <span>signup</span>
            </button>
        </a>
    </p>
    <p>
        <a routerLink="/lock">
            <button mat-button>
                <mat-icon>pageview</mat-icon>
                <span>Lock Screen</span>
            </button>
        </a>
    </p>
    <p>Components</p>
    <p>
        <a routerLink="/download">
            <button mat-button>
                <mat-icon>cloud_download</mat-icon>
                <span>Downloads</span>
            </button>
        </a>
    </p>
    <p>
        <a routerLink="/faq">
            <button mat-button>
                <mat-icon>question_answer</mat-icon>
                <span>FAQ</span>
            </button>
        </a>
    </p>
    <p>
        <a routerLink="/icons">
            <button mat-button>
                <mat-icon>chat</mat-icon>
                <span>Icons</span>
            </button>
        </a>
    </p>
    <p>
        <a routerLink="/table">
            <button mat-button>
                <mat-icon>border_all</mat-icon>
                <span>Tables</span>
            </button>
        </a>
    </p>
</div>